@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.welcome-container {
  min-height: calc(100vh - 56px);
}

.welcome {
  width: 100%;
}

#id {
  width: 72px;
}

table th {
  text-align: center;
}

table tr td {
  text-align: center;
}

.icon img {
  width: 32px;
  height: auto;
  filter: invert(80%);
}

.icon img:hover {
  filter: invert(100%);
}

@media (min-width: 600px) {
  .welcome {
    width: 600px;
  }
}

@media (min-width: 768px) {
  .welcome {
    width: 640px;
  }
}